<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title class="titleClass"><%= title %></title>

    
 <script>
    document.addEventListener("DOMContentLoaded", () => {
        const navlink = document.querySelectorAll('.Home-nav');
        const path = window.location.pathname;

        navlink.forEach(link => {
            const linkPath = link.getAttribute('href');
            if(linkPath === path){
                link.classList.add("active");
            }
        });
    });
 </script>

</head>
<body>
    
    <nav class="nav">

        <a class="Home-nav" href="/" <%- title === 'Home' ? "class='active'" : '' %>>HOME</a>
        <% if (user) { %>
            <a class="Home-nav" href="/patients"	<%- title === 'Patients' ? "class='active'" : '' %>>
                PATIENTS</a>
            <a class="Home-nav" href="/users" <%- title === 'Providers' ? "class='active'" : '' %>>
                PROVIDERS</a>
            <div class="nav-right-div">
                <a class="Home-nav" id="my-profile" href="/users/<%= user._id %>" <%- title === 'My Profile' ? "class='active'" : '' %>>
                    MY PROFILE</a>
                <a class="Home-nav" href="/logout">LOG OUT <div class="user-avatar-nav"><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer"></div></a>
            </div>


    

        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>

    </nav>



    <h2><%= title %></h2>