
<%- include('../partials/header') %>

<div class="table-container">
<table class="list">
    <thead>
      <tr>
        <th>Name:</th>
        <th>DOB:</th>
        <th>Chief Complaint:</th>
        <th>ID:</th>
      </tr>
    </thead>
    <tbody>
      <% patients.forEach(function(p) { %>
        <tr>
          <td><a href="patients/<%= p._id %>"><%= p.name %></a></td>
          <td><a href="patients/<%= p._id %>"><%= p.DOB.toLocaleDateString() %></a></td>
          <td><a href="patients/<%= p._id %>"><%= p.chiefComplaint %></a></td>
          <td><a href="patients/<%= p._id %>"><%= p._id %></a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>


 
  <%- include('../partials/footer') %>
