
<%- include('../partials/header') %>

<div class="table-container">
<table class="list">
    <thead>
      <tr>
        <th>Name:</th>
        <th>DOB:</th>
        <th>Chief Complaint:</th>
        <th>ID:</th>
      </tr>
    </thead>
    <tbody>
      <% patients.forEach(function(p) { %>
        <tr>
          <td><%= p.name %></td>
          <br>
          <td><%= p.DOB.toLocaleDateString() %></td>
          <td><%= p.chiefComplaint %></td>
          <td><%= p._id %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>


 
  <%- include('../partials/footer') %>
