<%- include('../partials/header') %>


<div id="patients-show-grid">
    <h3>Name:</h3>
    <p><%= patient.name %></p>
    <h3>Date of Birth (yyyy-mm-dd):</h3>
    <p><%= patient.DOB.toLocaleDateString() %></p>
    <h3>ID:</h3>
    <p><%= patient._id %></p>
    <h3>Chief Complaint:</h3>
    <p><%= patient.chiefComplaint %></p>
    <h3>Medical History:</h3>
    <p><%= patient.medHx %></p>
    <h3>Healthcare Providers:</h3>
    <div class="flex-left-container">
        <% providers.forEach(function(provider) { %>
            <p><a href="/users/<%=provider._id%>"><%= provider.name %></a></p>
        <% }) %>
    </div>

    <h3></h3>

    <div class="avatars-on-patient-page">
    <%  avatars.forEach(function(p) { %>

        <% if(p) {  %>
        <p class="flex-left-container"><img class="avatar-image" alt="avatar" src="<%= p %>" referrerpolicy="no-referrer"></p>
        <%  } %>

    <% }) %>

    </div>

</div>


<div>

</div>


<h2 id="Vitals-Header">Vital Signs</h2> 

<br>


<div id="vitals-main-container">

    <div class="vitals-container">
        <p><strong>Date</strong></p>
        <p><strong>Time</strong></p>
        <p><strong>Heart Rate</strong></p>
        <p><strong>Blood Pressure</strong></p>
        <p><strong>Respirations</strong></p>
        <p><strong>O2 Saturation</strong></p>
        <p><strong>Temperature</strong></p>
        <br>
        <div class="flex-center-container"><a class="vitals_Link" href="/patients/<%= patient._id %>/vitals/new">Add Vitals</a></div>

    </div>
        <% patient.vitals.forEach(function(v) { %>
            <div class="vitals-container">
                <p><%= v.time.toLocaleDateString() %></p>
                <p><%= v.time.toLocaleTimeString() %></p>

                <p
                <% if (v.heartRate > 100 || v.heartRate <80) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.heartRate %></p>

                <p
                <% if (v.systolic < 100 || v.systolic > 140 || v.diastolic <60 || v.diastolic > 100) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.systolic %> / <%= v.diastolic %></p>

                <p
                <% if (v.respirations < 12 || v.respirations > 20) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.respirations %></p>

                <p
                <% if (v.oxygenSat < 92) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.oxygenSat %>%</p>

                <p
                <% if (v.temp < 36 || v.temp > 38) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.temp %>°</p>
                <div class="flex-center-column-container">
                    <img src="<%=v.userAvatar%>" class="avatar-image" alt="avatar" referrerpolicy="no-referrer">
                    <p><a href="/users/<%=v.user%>"><%=v.userName%></a></p>
                    <% if (user?._id.equals(v.user)) { %>
                        <form action="/patients/<%= patient._id %>/vitals/<%= v._id %>/?_method=DELETE" method="POST">
                            <button type="submit" class="delete-button">DELETE</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% }) %>


</div>


<br>


<h2 id="Progress-Note-Header">Latest Progress Note</h2>

<% if (patient.progressNote.length) { %>

    <div class="progress-note-author">

        <p>Last updated: <%= patient.progressNote[0].time.toLocaleDateString() %> at <%= patient.progressNote[0].time.toLocaleTimeString() %> by</p>

        <div class="flex-left-container">
            <img src="<%=patient.progressNote[0].userAvatar %>" class="avatar-image" alt="avatar" referrerpolicy="no-referrer"> 
            <a href="/users/<%= patient.progressNote[0].user %>"><p><%= patient.progressNote[0].userName %></p></a>
        </div>

    </div>


    <div id="progress-note-main-container">

        <div class="progress-note-container">
            <h3><strong>Subjective:</strong></h3>
            <p class="lineBreakText"><%= patient.progressNote[0].hpi %></p>
        </div>

        <div class="progress-note-container">
            <h3><strong>Objective:</strong></h3>
            <p class="lineBreakText"><%= patient.progressNote[0].objective %></p>
        </div>

        <div class="progress-note-container">
            <h3><strong>Assessment and Plan:</strong></h3>
            <p class="lineBreakText"><%= patient.progressNote[0].ap %></p>
        </div>

    </div>


</div>

<div><a class="progress_note_link" href="/patients/<%= patient._id %>/all-progress-notes">See All Progress Notes</a></div>


<% } else { %> <h4>No Patient Notes On File</h4> <% } %>


<div><a class="progress_note_link" href="/patients/<%= patient._id %>/progress-note/new">Add Progress Note</a></div>


<br>
<br>

<br>
<br>



<form class="dischargeForm" action="/patients/<%= patient._id %>?_method=PUT" method="POST" >
    <button>
        <%- (patient.discharged) ? "Readmit Patient" : "Discharge Patient" %>
    </button>
</form>
<%- include('../partials/footer') %>