<%- include('../partials/header') %>

<div id="patients-show-grid">
    <h3>Name:</h3>
    <p><%= patient.name %></p>
    <h3>Date of Birth (yyyy-mm-dd):</h3>
    <p><%= patient.DOB.toLocaleDateString() %></p>
    <h3>ID:</h3>
    <p><%= patient._id %></p>
    <h3>Chief Complaing:</h3>
    <p><%= patient.chiefComplaint %></p>
    <h3>Medical History:</h3>
    <p><%= patient.medHx %></p>
    <h3>Healthcare Providers:</h3>
    <p><%= providers %></p>

    <h3></h3>

    <div class="avatars-on-patient-page">
    <%  avatars.forEach(function(p) { %>

        <% if(p) {  %>
        <p class="user-avatar-for-patient"><img alt="avatar" src="<%= p %>" referrerpolicy="no-referrer"></p>
        <%  } %>

    <% }) %>

    </div>

</div>


<div>

</div>


<h2 id="Vitals-Header">Vital Signs</h2> 

<br>


<div id="vitals-main-container">

    <div class="vitals-container">
        <p><strong>Date</strong></p>
        <p><strong>Time</strong></p>
        <p><strong>Heart Rate</strong></p>
        <p><strong>Blood Pressure</strong></p>
        <p><strong>Respirations</strong></p>
        <p><strong>O2 Saturation</strong></p>
        <p><strong>Temperature</strong></p>
        <br>
        <p></p>
        <div class="Vitals-divider"><a class="vitals_Link" href="/patients/<%= patient._id %>/vitals/new">Add Vitals</a></div>

    </div>
        <% patient.vitals.forEach(function(v) { %>
            <div class="vitals-container">
                <p><%= v.time.toLocaleDateString() %></p>
                <p><%= v.time.toLocaleTimeString() %></p>

                <p
                <% if (v.heartRate > 100 || v.heartRate <80) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.heartRate %></p>

                <p
                <% if (v.systolic < 100 || v.systolic > 140 || v.diastolic <60 || v.diastolic > 100) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.systolic %> / <%= v.diastolic %></p>

                <p
                <% if (v.respirations < 12 || v.respirations > 20) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.respirations %></p>

                <p
                <% if (v.oxygenSat < 92) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.oxygenSat %>%</p>

                <p
                <% if (v.temp < 36 || v.temp > 38) { %>
                    class="abnormal-vitals"
                <% } %>
                ><%= v.temp %>°</p>
                
                <p>
                    <form action="/patients/<%= patient._id %>/vitals/<%= v._id %>/?_method=DELETE" method="POST">
                        <button type="submit" class="delete-button">DELETE</button>
                    </form>
                </p>
            </div>
        <% }) %>

</div>


<br>





<form class="dischargeForm" action="/patients/<%= patient._id %>?_method=PUT" method="POST" >
    <button>
        <%- (patient.discharged) ? "Readmit Patient" : "Discharge Patient" %>
    </button>
</form>
<%- include('../partials/footer') %>