<%- include('../partials/header') %>

<% patient.progressNotes.forEach(function(note) { %>
    <div id="progress-note-main-container">
        <div class="flex-center-column-container" >
            <h4><%= note.time.toLocaleDateString() %> at <%= note.time.toLocaleTimeString() %>  %> </h4>
            <img src="<%=note.userAvatar%>" class="avatar-image small-avatar" alt="avatar" referrerpolicy="no-referrer">
            <p><a href="/users/<%=note.user%>"><%=note.userName%></a></p>
        </div>
        <div class="progress-note-container">
            <h3><strong>Subjective:</strong></h3>
            <p class="lineBreakText"><%= note.hpi %></p>
        </div>

        <div class="progress-note-container">
            <h3><strong>Objective:</strong></h3>
            <p class="lineBreakText"><%= note.objective %></p>
        </div>

        <div class="progress-note-container">
            <h3><strong>Assessment and Plan:</strong></h3>
            <p class="lineBreakText"><%= note.ap %></p>
        </div>

    </div>
<% }) %> 


<%- include('../partials/footer') %>