<%- include('../partials/header') %>
<br>
<form action="/users/?_method=PUT" method="POST" id="edit-user-form" class="custom-form">
    <label>Name
        <input type="text" name="name" value="<%=user.name%>">
    </label>
    <br>
    <label>Role
        <select name="role">
            <% options.forEach(function(option) { %>
                <option value="<%= option %>" 
                    <%- (user.role === option) ? "selected" : "" %>

                    > <%= option %></option>
            <% }) %>
        </select>
    </label>
    <br>
    <label> Admin privileges
        <input type="checkbox" name="admin" <%- (user.admin) ? "checked" : "" %>>
    </label>
    <br>
    <input type="hidden" name="userId" value="<%= user._id %>">
    <button type="submit">Update Provider</button>
</form>

<%- include('../partials/footer') %>