<%- include('../partials/header') %>

<div class="custom-form-container">
    <form class="custom-form-2-col" action="/users/?_method=PUT" method="POST" id="edit-user-form" class="custom-form">
        <h3>Name</h3>
        <input type="text" name="name" value="<%=user.name%>">
        <h3>Role</h3>
        <select name="role">
            <% options.forEach(function(option) { %>
                <option value="<%= option %>" 
                    <%- (user.role === option) ? "selected" : "" %>

                    > <%= option %></option>
            <% }) %>
        </select>
        <h3>Admin privileges</h3>
        <input type="checkbox" name="admin" <%- (user.admin) ? "checked" : "" %>>
        <input type="hidden" name="userId" value="<%= user._id %>">
        <button type="submit">Update Provider</button>
    </form>
</div>

<%- include('../partials/footer') %>