
<%- include('../partials/header') %>

<div class="table-container">
  <table class="list">
      <thead>
        <tr>
          <th>Name:</th>
          <th>Role:</th>
          <%- (user.admin) ? "<th></th>" : "" %>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(u) { %>
          <tr>
            <td><img src="<%=u.avatar%>" class="avatar-image small-avatar" alt="avatar" referrerpolicy="no-referrer"><a href="/users/<%= u._id %>"><%= u.name %></a></td>
            <br>
            <td><%= u.role %></td>
            <% if (user.admin) { %>
              <br/>
              <th>
                <form action="/users/<%= u._id %>/edit" method="GET">
                  <button type="submit">Edit User</button>
                </form>
              </th>
            <% } %>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>


  <div class="addObject">
  <% if (user.admin) { %>
      <br>
    <a id="addHospitalRecord" href="/users/new">Add New User</a>
  <% } %>
  </div>



<%- include('../partials/footer') %>
