
<%- include('../partials/header') %>

<div class="table-container">
<table class="list">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Role:</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(u) { %>
        <tr>
          <td><a href="users/<%= u._id %>"><%= u.name %></td>
          <br>
          <td><%= u.role %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  
  <br>
    <a href="/users/new">Add New Provider</a>


<%- include('../partials/footer') %>
