<%- include('../partials/header') %>


<div id="user-avatar-box">
<div class="user-avatar"><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer"></div>
</div>

if (user.admin) {
  <form action="/users/<%= user._id %>/edit" method="GET">
    <button type="submit">Edit User</button>
  </form>
}
<br>

<div id="user-show-grid">

    <h3>Name:</h3>
    <p><%= user.name %></p>
    <h3>Role:</h3>
    <p><%= user.role %></p>

</div>


<br>
<br>

<h3>Assigned Patients</h3>
<div id="providers-view-container">

  <div class="providers-view-table">
    <table class="list">
      <thead>
        <tr>
          <th>Name:</th>
          <th>Date of Birth:</th>
          <th>Chief Complaint:</th>
          <th>ID:</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% patients.forEach(function(p) { %>
          <tr <%- p.discharged ? "class='discharged-highlight'" : "class=''" %>>
            <td><a href="/patients/<%= p._id %>"><%= p.name %></a></td>
            <td><a href="/patients/<%= p._id %>"><%= p.DOB.toLocaleDateString() %></a></td>
            <td><a href="/patients/<%= p._id %>"><%= p.chiefComplaint %></a></td>
            <td><a href="/patients/<%= p._id %>"><%= p._id %></a></td>
            <td>
              <form action="/users/<%=user._id%>/?_method=PUT" method="POST" id="unassign-patient-form">
                <input type="hidden" name="patientId" value="<%=p._id%>">
                <button type="submit">Unassign Patient</button>
              </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</div>

    <br>

    <h4>Select a patient to add to patient assignments for <%= user.name %>:</h4>
<form method="POST" action="/users/<%=user._id%>">
  <select name="patientId">
    <% availableOptions.forEach(p =>{%>
    <option value="<%=p._id%>"><%= p.name %> | DOB:  <%= p.DOB.toLocaleDateString() %> | <%= p._id %></option>
    <%})%>
    <option selected disabled>
      <%= availableOptions.length ? "Select Patient" : "No available patients" %>
    </option>
  </select>
    <div>
        <br>
        <input type="submit" value="Assign Patient" />
    </div>
    <br>
</form>

</section>

</div>

</section>


<%- include('../partials/footer') %>

